[submodule "tests/s1disasm"]
	path = tests/s1disasm
	url = https://github.com/sonicretro/s1disasm
[submodule "tests/spindisasm"]
	path = tests/spindisasm
	url = https://github.com/sonicretro/spindisasm
